@{
    ViewData["Title"] = "Home Page";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <h1 class="card-title ml10">Dashboard</h1>
            <div class="col-3 grid-margin stretch-card">
                <div class="card">
                    <a class="nav-link" asp-controller="TblCountries" asp-action="Index">
                        <div class="card-body text-center" style="padding: 55px 0px">
                            <h1 style="color: #5e2572">Country</h1>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-1"></div>

            <div class="col-3 grid-margin stretch-card">
                <div class="card">
                    <a class="nav-link" asp-controller="TblColors" asp-action="Index">
                    <div class="card-body text-center" style="padding: 55px 0px">
                        <h1 style="color: #5e2572">Color</h1>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-1"></div>

            <div class="col-3 grid-margin stretch-card">
                <div class="card">
                    <a class="nav-link" asp-controller="TblCertificates" asp-action="Index">
                    <div class="card-body text-center" style="padding: 55px 0px">
                        <h1 style="color: #5e2572">Certificate</h1>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-3 grid-margin stretch-card">
                <div class="card">
                    <a class="nav-link" asp-controller="TblPurities" asp-action="Index">
                    <div class="card-body text-center" style="padding: 55px 0px">
                        <h1 style="color: #5e2572">Purity</h1>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-1"></div>

            <div class="col-3 grid-margin stretch-card">
                <div class="card">
                    <a class="nav-link" asp-controller="TblShapes" asp-action="Index">
                    <div class="card-body text-center" style="padding: 55px 0px">
                        <h1 style="color: #5e2572">Shape</h1>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-1"></div>

            <div class="col-3 grid-margin stretch-card">
                <div class="card">
                    <a class="nav-link" asp-controller="TblFluorescences" asp-action="Index">
                    <div class="card-body text-center" style="padding: 55px 0px">
                        <h1 style="color: #5e2572">Fluorescences</h1>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-1"></div>

            <div class="col-3 grid-margin stretch-card">
                <div class="card">
                    <a class="nav-link" asp-controller="TblProducts" asp-action="Index">
                    <div class="card-body text-center" style="padding: 55px 0px">
                        <h1 style="color: #5e2572">Product</h1>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-1"></div>

            <div class="col-3 grid-margin stretch-card">
                <div class="card">
                    <a class="nav-link" asp-controller="TblRegisters" asp-action="Index">
                    <div class="card-body text-center" style="padding: 55px 0px">
                        <h1 style="color: #5e2572">Users</h1>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-1"></div>

            <div class="col-3 grid-margin stretch-card">
                <div class="card">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Logout" asp-action="Index">
                        <div class="card-body text-center" style="padding: 55px 0px">
                            <h1 style="color: #5e2572">Logout</h1>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <!-- partial -->
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
