@{
    ViewData["Title"] = "Home Page";
}

<div class="static-banner_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="static-banner-image">
                    <div class="static-banner-content">
                        <div class="hiraola-btn-ps_left">
                            <a asp-area="" asp-controller="TblProducts" asp-action="Index" class="hiraola-btn">Shopping Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Begin Hiraola's Product Tab Area -->
<!-- Hiraola's Product Tab Area TwoEnd Here -->

<div class="hiraola-banner_area-3">

    <div class="container">
        <div class="row">
            <div class="hiraola-tab_title">
                <h4>DIAMOND SHAPES</h4>
            </div>
            <div class="col-lg-4 mt-5">
                <div class="text-center banner-item ">
                    <a>
                        <img class="img-fluid"
                             src="https://ddvu2h60kywpb.cloudfront.net/images/diamond-education/round.gif"
                             alt="Hiraola's Banner" width="100px">
                        <h4>ROUND</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 mt-5">
                <div class="text-center banner-item">
                    <a>
                        <img src="https://ddvu2h60kywpb.cloudfront.net/images/diamond-education/princess.gif"
                             alt="Hiraola's Banner" width="100px">
                        <h4>
                            PRINCESS
                        </h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 mt-5">
                <div class="text-center banner-item">
                    <a>
                        <img src="https://ddvu2h60kywpb.cloudfront.net/images/diamond-education/oval.gif"
                             alt="Hiraola's Banner" width="100px">
                        <h4>
                            OVAL
                        </h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 mt-5">
                <div class="text-center banner-item">
                    <a>
                        <img src="https://ddvu2h60kywpb.cloudfront.net/images/diamond-education/marquise.gif"
                             alt="Hiraola's Banner" width="100px">
                        <h4>
                            MARQUISE
                        </h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 mt-5">
                <div class="text-center banner-item">
                    <a>
                        <img src="https://ddvu2h60kywpb.cloudfront.net/images/diamond-education/pear.gif"
                             alt="Hiraola's Banner" width="100px">
                        <h4>
                            PEAR

                        </h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 mt-5">
                <div class="text-center banner-item">
                    <a>
                        <img src="https://ddvu2h60kywpb.cloudfront.net/images/diamond-education/cushion.gif"
                             alt="Hiraola's Banner" width="100px">
                        <h4>
                            CUSHION

                        </h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 mt-5 mb-5">
                <div class="text-center banner-item">
                    <a>
                        <img src="https://ddvu2h60kywpb.cloudfront.net/images/diamond-education/emerald.gif"
                             alt="Hiraola's Banner" width="100px">
                        <h4>
                            EMERALD

                        </h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 mt-5 mb-5">
                <div class="text-center banner-item">
                    <a>
                        <img src="https://ddvu2h60kywpb.cloudfront.net/images/diamond-education/asscher.gif"
                             alt="Hiraola's Banner" width="100px">
                        <h4>
                            ASSCHER

                        </h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 mt-5 mb-5">
                <div class="text-center banner-item">
                    <a>
                        <img src="https://ddvu2h60kywpb.cloudfront.net/images/diamond-education/radiant.gif"
                             alt="Hiraola's Banner" width="100px">
                        <h4>
                            RADIANT

                        </h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div>
                <a asp-area="" asp-controller="TblProducts" asp-action="Index" class="hiraola-btn" style="width: auto">Shop Now</a>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>
