@model admin_labgrown.Models.TblProduct

@{
    ViewData["Title"] = "Edit";
}


<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <h1 class="card-title ml10">Edit Product</h1>
            <div class="col-md-2"></div>
            <div class="col-8 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <form asp-action="Edit" class="forms-sample">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <!--
                            <div class="form-group">
                                <label asp-for="Color" for="exampleInputName1">Color</label>
                                <input asp-for="Color" class="form-control" id="exampleInputName1" placeholder="Enter Color Name">
                                <span asp-validation-for="Color" class="text-danger"></span>
                            </div>
                            -->

                            <div class="form-group">
                                <label asp-for="Shape" class="control-label"></label>
                                <select asp-for="Shape" class="form-control" asp-items="ViewBag.Shape"></select>
                                <span asp-validation-for="Shape" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Carat" class="control-label"></label>
                                <input asp-for="Carat" class="form-control" id="exampleInputName1" placeholder="Enter Carat" />
                                <span asp-validation-for="Carat" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Purity" class="control-label"></label>
                                <select asp-for="Purity" class="form-control" asp-items="ViewBag.Purity"></select>
                                <span asp-validation-for="Purity" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Certificate" class="control-label"></label>
                                <select asp-for="Certificate" class="form-control" asp-items="ViewBag.Certificate"></select>
                                <span asp-validation-for="Certificate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Color" class="control-label"></label>
                                <select asp-for="Color" class="form-control" asp-items="ViewBag.Color"></select>
                                <span asp-validation-for="Color" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Fluorescence" class="control-label"></label>
                                <select asp-for="Fluorescence" class="form-control" asp-items="ViewBag.Fluorescence"></select>
                                <span asp-validation-for="Fluorescence" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <!--
                                <label asp-for="CutGrade" class="control-label"></label>
                                <input asp-for="CutGrade" class="form-control" />
                                <span asp-validation-for="CutGrade" class="text-danger"></span>
                                -->

                                <label asp-for="CutGrade" class="control-label"></label>
                                <select asp-for="CutGrade" class="form-control">
                                    <option value="Excellent">Excellent</option>
                                    <option value="Very Good">Very Good</option>
                                    <option value="Good">Good</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <!--
                                <label asp-for="Polish" class="control-label"></label>
                                <input asp-for="Polish" class="form-control" />
                                <span asp-validation-for="Polish" class="text-danger"></span>
                                -->

                                <label asp-for="Polish" class="control-label"></label>
                                <select asp-for="Polish" class="form-control">
                                    <option value="Excellent">Excellent</option>
                                    <option value="Very Good">Very Good</option>
                                    <option value="Good">Good</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <!--
                                <label asp-for="Symmetry" class="control-label"></label>
                                <input asp-for="Symmetry" class="form-control" />
                                <span asp-validation-for="Symmetry" class="text-danger"></span>
                                -->

                                <label asp-for="Symmetry" class="control-label"></label>
                                <select asp-for="Symmetry" class="form-control">
                                    <option value="Excellent">Excellent</option>
                                    <option value="Very Good">Very Good</option>
                                    <option value="Good">Good</option>
                                </select>
                            </div>

                            <input type="submit" value="Edit" class="btn btn-primary" />
                            <a class="btn btn-light" asp-action="Index">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>



<!--

<h1>Edit</h1>

<h4>TblProduct</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Shape" class="control-label"></label>
                <select asp-for="Shape" class="form-control" asp-items="ViewBag.Shape"></select>
                <span asp-validation-for="Shape" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <select asp-for="Color" class="form-control" asp-items="ViewBag.Color"></select>
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purity" class="control-label"></label>
                <select asp-for="Purity" class="form-control" asp-items="ViewBag.Purity"></select>
                <span asp-validation-for="Purity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fluorescence" class="control-label"></label>
                <select asp-for="Fluorescence" class="form-control" asp-items="ViewBag.Fluorescence"></select>
                <span asp-validation-for="Fluorescence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Certificate" class="control-label"></label>
                <select asp-for="Certificate" class="form-control" asp-items="ViewBag.Certificate"></select>
                <span asp-validation-for="Certificate" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="CutGrade" class="control-label"></label>
                <input asp-for="CutGrade" class="form-control" />
                <span asp-validation-for="CutGrade" class="text-danger"></span>
                

                <label asp-for="CutGrade" class="control-label"></label>
                <select asp-for="CutGrade" class="form-control">
                    <option value="Excellent">Excellent</option>
                    <option value="Very Good">Very Good</option>
                    <option value="Good">Good</option>
                </select>
            </div>
            <div class="form-group">
                
                <label asp-for="Polish" class="control-label"></label>
                <input asp-for="Polish" class="form-control" />
                <span asp-validation-for="Polish" class="text-danger"></span>
                

                <label asp-for="Polish" class="control-label"></label>
                <select asp-for="Polish" class="form-control">
                    <option value="Excellent">Excellent</option>
                    <option value="Very Good">Very Good</option>
                    <option value="Good">Good</option>
                </select>
            </div>
            <div class="form-group">
                
                <label asp-for="Symmetry" class="control-label"></label>
                <input asp-for="Symmetry" class="form-control" />
                <span asp-validation-for="Symmetry" class="text-danger"></span>
                

                <label asp-for="Symmetry" class="control-label"></label>
                <select asp-for="Symmetry" class="form-control">
                    <option value="Excellent">Excellent</option>
                    <option value="Very Good">Very Good</option>
                    <option value="Good">Good</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Carat" class="control-label"></label>
                <input asp-for="Carat" class="form-control" />
                <span asp-validation-for="Carat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
-->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
