@model IEnumerable<admin_labgrown.Models.TblFluorescence>

@{
    ViewData["Title"] = "Index";
    int no = 0;
}



<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 card">
                <div class="card-body">
                    <a class="btn btn-primary mr-2 mb-4" asp-action="Create">Create New</a>
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="order-listing" class="table">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Fluorescence</th>
                                            <th></th>
                                            <th></th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            no++;
                                            <tr>
                                                <td>
                                                    @no
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Fluorescence)
                                                </td>
                                                <td>
                                                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil-square-o text-primary" style="font-size: 17px;" aria-hidden="true"></i></a>
                                                </td>
                                                <td>
                                                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash-o text-danger" style="font-size: 20px;" aria-hidden="true"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>





